* {
  box-sizing: border-box;
}

body {
background: #80ee02;
color: #f30e0e;

}
#myname{
  color:rgb(0, 4, 255);
  font-size: 50px;
}

#mysis{
  font-size: 50px;
  color:rgb(255, 0, 119);
}
#mysis3{
  font-size: 50px;
   color: #bf02ee;

}